
.konjicevskok-polje-svetlo {
    -fx-background-color: white;
}

.konjicevskok-polje-tamno {
    -fx-background-color: lightgrey;
}

.button { 
    -fx-focus-color: transparent;
    -fx-font-weight: bold;
}

.bg-dark {
    -fx-background-color: gray;
    /*-fx-border-style: solid;*/
/*    -fx-border-width: 1 2 2 1;
    -fx-border-color: #ffffff;*/
    -fx-text-fill: #000000;
}

.bg-bomb {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
}

.bg-white {
    -fx-background-color: #ffffff;
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: gray;
    -fx-text-fill: #000000;
}